.itemsContainer {
}
.itemsContent {
  position: relative;
  z-index: -5;
  background-color: black;
}

.backgroundItems {
  background-image: url(https://cdn.discordapp.com/attachments/312173234663718913/729591746484371506/IMG_6032.JPG);
  opacity: 80%;
  height: 88vh;
}
