.mainBody {
  min-height: 100vh;
}

.nav {
  position: relative;
  z-index: 10;
}

.carWrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -5;
  min-height: 100vh;
}

.wrapperContent {
  background-color: #fefefe;
  padding-top: 50px;
  padding-bottom: 50px;
}

.secondContent {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
